<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - SS</title>
  <environment names="Development,Staging,Production">
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  </environment>
</head>
<body>
  <partial name="_NavbarLayout" />

  <div class="container-fluid dataPlacement">
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        @await Component.InvokeAsync("Category")
      </div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="border-left: dotted gray 1px;">
        @RenderBody()
      </div>
    </div>
  </div>

  <partial name="_FooterLayout" />

  <environment names="Development,Staging,Production">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </environment>
  @RenderSection("scripts", false)
</body>
</html>